@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300&family=Overpass:wght@100&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Overpass';
}

main{
    background-color: hsl(216, 12%, 8%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-wrapper{
    background: hsl(213, 19%, 18%);
    padding: 2em;
    border-radius: 20px;
}
.numbers{
    display: flex;
    justify-content: space-between;
}
.card{
    display: flex;
    flex-direction: column;
}
h1, p, .numbers, .submit{
    margin-top: 0.75em;
}
h1{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}
p{
    font-size: 15px;
    font-weight: 400;
    opacity: 0.5;
    color: hsl(217, 12%, 63%);
}
/*
hsl(25, 97%, 53%)
hsl(0, 0%, 100%)
hsl(217, 12%, 63%)
hsl(216, 12%, 54%)
hsl(213, 19%, 18%)
hsl(216, 12%, 8%)

/*
    ========components
*/

.rate {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  .rate input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
    border-color: transparent;
  }
  
  .rate label {
      background-color: hsl(213, 19%, 18%);
      padding: 1em 1.25em 1em 1.25em;
      border: 2px solid #444;
      border-radius: 50%;
      color: hsl(0, 0%, 100%);
      border-color: transparent;
      transition: all .3s ease-in-out;
  }
  
  .rate label:hover {
    background-color: hsl(217, 12%, 63%);
    cursor: pointer;
  }
  .rate input[type="radio"]:checked + label {
      background-color: hsl(25, 97%, 53%);
      border-color: transparent;
      transition: all .3s ease-in;
  }
  
svg{
    border-radius: 100%;
    padding: 1em;
    box-sizing: content-box;
    background-color: hsl(213, 19%, 18%);
}
.submit{
    border-radius: 25px;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    border-color: transparent;
    padding: 1em;
    margin: 1em;
    transition: all 0.2s ease-in;
}

.submit:hover{
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}

#TyState{
    display: none;
    text-align: center;
}
/*
    =========Thank you state
*/
.tynote{
    color: hsl(25, 97%, 53%);
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 2;
    background-color: hsl(213, 19%, 18%);
    border-radius: 25px;
    padding: 0.75em;
}
#yourating{
    padding: 0.2em;
}
#tycard{
    align-items: center;
}
#tycard p{
    line-height: 1.5em;
}
.thanks{
    background-color: hsl(213, 19%, 18%);
}